In [1]:
import pandas as pd

In [2]:
confirmed_df = pd.read_csv('Data/time_series_covid19_confirmed_global.csv')
recovered_df = pd.read_csv('Data/time_series_covid19_recovered_global.csv')
deaths_df = pd.read_csv('Data/time_series_covid19_deaths_global.csv')

In [18]:
#confirmed_df.head()
#recovered_df.head()
deaths_df.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,4/13/20,4/14/20,4/15/20,4/16/20,4/17/20,4/18/20,4/19/20,4/20/20,4/21/20,4/22/20
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,21,23,25,30,30,30,33,36,36,40
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,23,24,25,26,26,26,26,26,26,27
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,313,326,336,348,364,367,375,384,392,402
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,29,31,33,33,35,35,36,37,37,37
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,2,2,2,2,2,2,2,2,2,2

In [13]:
#confirmed_df.describe()
#confirmed_df.columns
#recovered_df.describe()
#recovered_df.columns
#deaths_df.describe()
#deaths_df.columns

In [48]:
#We need the dates as identifiers and not as columns
date_cols = confirmed_df.columns[4:]
confirmed_df_temp = confirmed_df.melt(id_vars=['Province/State','Country/Region','Lat','Long'], value_vars= date_cols ,var_name='Date',value_name='Confirmed')
# confirmed_df_temp
deaths_df_temp = deaths_df.melt(id_vars=['Province/State','Country/Region','Lat','Long'], value_vars= date_cols, var_name='Date',value_name='Deaths')
# deaths_df_temp[deaths_df_temp['Deaths']!=0]
# deaths_df_temp
recovered_df_temp = recovered_df.melt(id_vars=['Province/State','Country/Region','Lat','Long'], value_vars= date_cols, var_name='Date',value_name='Recovered')
# recovered_df_temp
# print(recovered_df_temp.shape)
# print(deaths_df_temp.shape)
# print(confirmed_df_temp.shape)
# We see that the number of rows in recovered is different. *****(Check why?)

In [43]:
#concatenation gives error due to different labels in death. Merge used instead
total_data = pd.merge(left=confirmed_df_temp, right=deaths_df_temp, how='left',on=['Province/State','Country/Region','Date','Lat','Long'])
# print(total_data.head(10))
total_data = pd.merge(left=total_data, right=recovered_df_temp, how='left', on=['Province/State','Country/Region','Date','Lat','Long'])
# print(total_data.head(10))
# total_data.shape
# shape same as deaths_df_temp

In [54]:
# print(total_data)
# We see a lot of province and states to be null. Lets check how many.
# total_data.isna().sum()

In [53]:
#For data points where the recovered cases is not available, let us initialise them to 0.
total_data['Recovered'] = total_data['Recovered'].fillna(0)
# Was giving some string exceptions occasionally. Fixed:
total_data['Recovered'] = total_data['Recovered'].astype(int)
# print(total_data.isna().sum())
#Recovered Nan fixed.

In [61]:
#Lets glance at the State/Province and Country feature for the whole data frame
# with pd.option_context('display.max.rows',None,'display.max.columns',None):
#     print(total_data[['Province/State','Country/Region']])
# Too large - Let us assume the rest of the data is intact. (Fixes made if future errors found)

In [63]:
# Let us save this data finally.
total_data.to_csv('Data/Cleaned_Final_Global_Data.csv',index=False)